<!--
/*!
 * underscore.html
 * This file contains the code for the Filter controls.
 *
 * @project   Backbone Tutorials
 * @date      2013-10-04
 * @author    Satya vanu, Sr Engineer <satyavanu@gmail.com>
 * @licensor  Satya Vanu
 * @site      http://www.github.com/satyavanu
 *
 */
 -->

<!DOCTYPE  HTML>
<html>
   <title>Backbone Underscore : </title>
   <head>
      <style>
         header,#container{
         width:680px;
         margin:0 auto;
         }
         #container {
         padding: 50px 0 100px;
         }
         ul {
         margin:0;
         padding:0;
         width:500px;
         }
         nav ul li a {
         text-decoration:none;
         color:#fff;
         }
         nav ul li {
         list-style:none;
         display:inline-block;
         width:100px;
         background:#ddd;
         padding:5px 10px 5px;
         }
      </style>
   </head>
   </body>
   <header>
      <nav>
         <ul>
            <li>
               <a href="#/pages/home" class="links">
               Home </a>
            </li>
            <li>
               <a href="#/pages/blog"  class="links">
               Blog </a>
            </li>
            <li>
               <a href="#/pages/locations"  class="links">
               Locations </a>
            </li>
            <li>
               <a href="#/pages/contact"  class="links">
               Contact </a>
            </li>
         </ul>
      </nav>
   </header>
   <div id="container">
   <!--  This   is your view  -->
   <script type="text/template" id="country_template">
  <table cellspacing="5" cellpadding="10" border="1">
   <tr>
      <th><%= country_name_label %></th>
      <th><%= country_code_label %></th>
   </tr>
    <% _.each(List, function(value,key) { %>  <tr><td><%= key %></td><td><%= value %> </td></tr> <% }); %> 
</table>
</script>
   <!--  End Of View  -->
   <div id="countries"></div> <!--  templates content goes here -->
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>  
   <script>
    (function($,undefined,window) {
        CountryView = Backbone.View.extend({
            initialize: function(){
            this.render();
        },
        render: function(){
            var variables = {"country_name_label": "Country Name","country_code_label" : "Country Code","List": {"United States of America": "USA","United Kingdom": "UK","India": "IN"}};
		    var template = _.template( $("#country_template").html(), variables);  // compile your underscore template 
            this.$el.html( template );		// append to the Target 
            }
        });
        var countryView = new CountryView({ el: $("#countries") });	 /* appending to Countries div */
	}(jQuery))
   </script>  
   </body>
</html>
